<div class="container mt-5">
  <!-- Card per l'articolo in evidenza -->
  <div class="card mb-4 bg-light" *ngIf="posts.length > 0">
    <div class="card-header bg-secondary">
      <h4>Articolo in Evidenza</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ posts[0]?.title }}</h5>
      <!-- Utilizza il primo articolo come evidenza -->
      <p class="card-text">{{ posts[0]?.body }}</p>
      <!-- Mostra il contenuto dell'articolo -->
      <a href="#" class="btn btn-primary">Leggi di più</a>
    </div>
  </div>

  <!-- Lista di articoli -->
  <h2>Articoli Recenti</h2>
  <div class="row">
    <div class="col-md-4 col-lg-3" *ngFor="let post of posts | slice : 1 : 5">
      <div class="card mb-4">
        <div class="card-header bg-secondary">
          <h5>{{ post.title }}</h5>
        </div>
        <div class="card-body bg-light">
          <p class="card-text">{{ post.body }}</p>
          <a href="#" class="btn btn-primary">Leggi di più</a>
        </div>
      </div>
    </div>
  </div>
</div>
